
<title>My application</title>
  <h1>Hello, World!</h1>
        WELCOME TO MY APP <br>
        Please give it in the first box at most 20 numbers <br>
        Please give it in the second box at most 20 numbers <br>
        Please give it a player1 name in the third box <br>
        Please give it a player2 name in the fourth box <br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
